.breadcrumbs {
    position: relative;
    height: 150px;
    color: white;
    text-align: center;
}

.pageTitle {
    color: #fff;
}

.breadcrumbs h3 {
    padding-top: 32px;
    font-weight: 700;
    font-size: 32px;
    text-transform: uppercase;
}

.breadcrumbsmenu ol {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
}

.breadcrumbsmenu li {
    text-align: center;
    font-weight: bold;
}
.breadcrumbsmenu li a{
    text-decoration: none;
    color:#fff;
}
.breadcrumbsmenu li a:hover {
    text-decoration: none;
    color: antiquewhite
}

.breadcrumbsmenu li,
.breadcrumbsmenu li p {
    color: white;
}