
.circle{
    position: absolute;
    transition:0.02s;
    z-index: 20;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.range{
    /* display:none; */
    cursor: pointer;
}
.line{
    /* content: ""; */
    position: absolute;
    width: 50%;
    height: 50%;
    border-top-left-radius: 149px;
    transform-origin: right bottom;
    transform: rotate(0deg);
    transition: 0.3s;
}
.line:before{
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(241, 255, 38, 0.8);
    left: 0;
    border-top-left-radius: 149px;
    transform-origin: right bottom;
    transition: 0.3s;
    transform: scale(2.6);
}