* {
    box-sizing: border-box;
    padding: 0;
    margin: 0
}

.containerss {
    margin-bottom: 40px;
    padding: 20px;
    margin-top: 40px;
    border-radius: 20px;
    /* display: flex; */
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgba(255,255,255,0.5);
    align-items: center;
    border: 1px solid #fff;
}
.container{
    margin: 40px 0;
    justify-content: space-around;

    display: flex;
}
.progress {
    width: 100px;
    height: 100px;
    font-size: 1.2rem;
    color: #000;
    border-radius: 50%;
    position: relative;
    /* background: #fff; */
    text-align: center;
    margin: -20px;
}

.progress::after {content: "%";}

.progress .title {
    /* position: relative; */
    font-size: 1.2rem;
    margin-top: 40px !important;
    }

.progress .overlay {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    /* background-color: #fff; */
}

.progress .left, .progress .right {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 13px solid #f15634;
    border-radius: 100px 0px 0px 100px;
    border-right: 0;
    transform-origin: right;
}

.progress .left {animation: load1 1s linear forwards;}

.progress:nth-of-type(2) .right, .progress:nth-of-type(3) .right {animation: load2 .5s linear forwards 1s;}

.progress:last-of-type .right, .progress:first-of-type .right {animation: load3 .8s linear forwards 1s;}

@keyframes load1 {
    0% {transform: rotate(0deg);}

    100% {transform: rotate(180deg);}
}

@keyframes load2 {
    0% {z-index: 100;transform: rotate(180deg);}

    100% {z-index: 100;transform: rotate(270deg);}
}

@keyframes load3 {
    0% {z-index: 100;transform: rotate(180deg);}

    100% {
        z-index: 100;transform: rotate(315deg);}
}




.progresss {
    width: 100px;
    height: 100px;
    font-size: 1.2rem;
    color: #000;
    border-radius: 50%;
    position: relative;
    /* background: #fff; */
    text-align: center;
    margin: -20px;
}

.progresss::after {content: "%";}

.progresss .title {
    /* position: relative; */
    font-size: 1.2rem;
    margin-top: 40px !important;
    }

.progresss .overlay {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    /* background-color: #fff; */
}

.progresss .left, .progresss .right {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 13px solid #069e43;
    border-radius: 100px 0px 0px 100px;
    border-right: 0;
    transform-origin: right;
}

.progresss .left {animation: load1 1s linear forwards;}

.progresss:nth-of-type(2) .right, .progresss:nth-of-type(3) .right {animation: load2 .5s linear forwards 1s;}

.progresss:last-of-type .right, .progresss:first-of-type .right {animation: load3 .8s linear forwards 1s;}

@keyframes load1 {
    0% {transform: rotate(0deg);}

    100% {transform: rotate(180deg);}
}

@keyframes load2 {
    0% {z-index: 100;transform: rotate(180deg);}

    100% {z-index: 100;transform: rotate(270deg);}
}

@keyframes load3 {
    0% {z-index: 100;transform: rotate(180deg);}

    100% {
        z-index: 100;transform: rotate(315deg);}
}
