.wrap {
    position: relative;
    z-index: 3;
    text-decoration: none;
    height: 70px;
    width: 70px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 54px 70px;
}

.wrapRectangle {
    position: relative;
    text-decoration: none;
    height: 190px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;

}
.wrapRectangle:hover{
    cursor: pointer;
    opacity: 0.93;
}
.wrapRectangle:nth-child(1),.wrapRectangle:nth-child(1){
    margin-top: 0;

}
.wrap:hover {
    cursor: pointer;
    opacity: 0.93;

}


.rectangle {
    background-color: var(--colorPrimary);
    color: darken(var(--colorPrimary), 30);
    min-width: 140px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, .53), 0 3px 12px rgba(0, 0, 0, .16);
}

.button {
    background-color: var(--colorPrimary);
    color: darken(var(--colorPrimary), 30);
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 3px 12px rgba(0, 0, 0, .53), 0 3px 12px rgba(0, 0, 0, .16);
}

.tableName {
    position: absolute;
    text-align: center;
    font-weight: 600;
    color: #fff;
    top: 50%;
    font-size: 11px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--colorBlur);
    padding: 6px;
    border-radius: 10px;
}

.pulse {
    position: absolute;
    z-index: 1;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 6px solid var(--colorBlur);
    opacity: 0.5;
    animation: pulsate 2.8s ease-out infinite;
    opacity: 0;
}

.pulseRectangle {
    position: absolute;
    width: 125px;
    height: 70px;
    border: 6px solid var(--colorBlur);
    animation: pulsate 2.8s ease-out infinite;
    border-radius: 10px;

}

@keyframes pulsate {
    0% {
        -webkit-transform: scale(1);
        opacity: 0
    }

    50% {
        opacity: 0.3
    }

    to {
        -webkit-transform: scale(1.4);
        opacity: 0
    }
}