.cartTitle {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.cartTitleQuantity {
  padding-left: 20px;
}

.item {
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}

.itemImg img {
  width: 150px;
  height: 130px;
  object-fit: cover;
}

.itemDesc .itemName {
  font-weight: bold;
}

.itemDesc .itemCategory {
  font-style: italic;
}

.itemPrice {
  font-weight: bold;
  font-size: 20px;
  color: #767676;
}

.itemQuantity {
  display: flex;
  align-items: center;
}


.itemTotal {
  font-weight: bold;
  font-size: 24px;
  color: #696969;

}

.itemButton {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.itemButton button {
  outline: none;
  border: none;
  background-color: #fff;
  color: #7fad39;
  font-size: 24px;
}

.quantity .productQuantity {
  width: 50px;
  padding: 10px 20px;
  outline: none;
  border: none;
  text-align: center;
}
.quantityBtn{
  width: 40px;
  display: block;
  background-color: rgb(211, 70, 70);
  font-size: 30px;
}
.cartButtonGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.cartButtonGroup .cartbutton {
  height: 48px;
  outline: none;
  text-decoration: none;
  border: none;
  padding: 0 10px;
  font-weight: bold;
}

.backButton {
  background-color: #7fad39;
  line-height: 48px;
  color: #fff;

}

.backButton:hover {
  color: #e7e7e7;
}

.checkout {
  color: #fff;
}

.itemQuantity button {
  padding: 10px 18px;
}

.color_primary {
  background-color: #7fad39;
color:#fff;
}
.color_primary:hover{
  background-color: #86b342;

}

.productOption .addToCart {
  background-color: #7fad39;
  color: white;
  padding: 16px;
  text-decoration: none;
}

/* Responsive */

@media(min-width: 768px) and (max-width: 991px) {
  .itemTotal {
    margin-top: 12px;
  }
}

@media (max-width: 767px) {

  .itemTotal,
  .itemQuantity button,
  .itemPrice {
    margin-top: 12px;
  }

  .hidden__in_sm {
    display: none;
  }


}

@media (max-width: 576px) {

  .itemImg,
  .itemDesc {
    width: 50%;
  }

  .itemImg img {
    width: 100px;
    max-width: 100%;
    height: 100px;
  }

  .cartButtonGroup {
    display: block;
  }

  .cartbutton,
  .checkout {
    width: 100%;
  }

  .cartButtonGroup .backButton {
    height: 48px;
    display: block;
    margin-bottom: 12px;
    text-align: center;
  }

  .wrap_btn_checkout {
    justify-content: space-between;
  }

}