/* ==========================Font========================== */






.navbar {
  position: fixed;
  width: 70px;
  height: 100%;
  transition: .5s;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 1px 4px 10px rgba(240, 240, 240, 0.2);
  z-index: 20;
}

.navbar.active {
  width: 300px;
}

.overlayImg {
  position: absolute;
  display: flex;
  height: 100vw;
  width: 100vw;
  justify-content: center;
  margin: 0 auto;
  opacity: 0.5;
  animation: rotation 10s infinite linear;
}
.bgrLine{
  top: 200px;
  position: relative;
  z-index: 1;
  width: 120%;
  left: -20px;
}
.overlayQ{
  display: flex;

  width: 100vw;
  height: 400px;
  position: relative;
  justify-content: center;
  margin: 0 auto;

  z-index: 2;
}
.shapeCircle {
  background-image: linear-gradient(.314turn, rgba(40, 112, 222, .3) -32.12%, rgba(220, 232, 250, .35) 110.13%);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: absolute;
  left: 140px;
  z-index: 2;
  top: 150px;
  height: 100px;
  width: 100px;
  box-shadow: 0 16px 24px rgba(40,112,222,.16);

}

.main {
  box-sizing: border-box;
  margin-left: 54px;
  background-image: linear-gradient(to right, #fbf8f7, #fbf9f0, #fbf9f0);
  padding: 24px 0 24px 30px;
}

.line {
  top: 0;
  position: fixed;
  z-index: 1;
}

/* .navbar:hover {
  width: 300px;
} */

.navbar ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar ul li {
  list-style: none;
  width: 100%;
  position: relative;

}

.navLink:hover {
  color: var(--bg-primary);
}

.navbar ul li:hover .navLink::before {
  background-color: rgba(234, 106, 18, 0.1);
  transform: translate(-50%, -50%) scale(1);
  width: 93%;
  height: 70%;
  border-radius: 20px;
}



.navLink {
  position: relative;
  display: block;
  border: none;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--cl-text);
  transition: .2s;
  overflow: hidden;


}

.navLink::before {
  content: "";
  width: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  height: 70px;
  transition: 0.5s;
}

.navLink .icon {
  position: relative;
  display: block;
  min-width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  color: #41444b;
}

.navLink .title {
  transform: translateX(-40px);

  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  position: relative;
  font-size: .1.4rem;
  font-weight: 600;
}

.navLink.toggle {
  border-bottom: 3px solid var(--primaryColor);
}

.toggle {
  cursor: pointer;
}

.active .title {
  transform: translateX(0);
  transition: 0.5s cubic-bezier(0.85, 0.05, 0.595, 0.35);
  opacity: 1;
  visibility: visible;
}

.barIcon {
  color: var(--primaryColor);
}

@media (max-width: 768px) {
  header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background: var(--bg-secondary);
    color: var(--cl-text);
  }

  .navbar {
    left: -70px;
  }

  .navbar.active {
    left: 0;
    width: 100%;
  }

  .navLink.toggle {
    display: none;
  }
}

.imgIcon {
  width: 70px;
  height: 70px;
}

:root {
  --bg-primary: #41444b;
  --bg-secondary: #676c74;
  --bg-active: #fdf0e7;
  --cl-text: #383838;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}