
.Banner img{
    /* opacity: 0.5; */
    background-color: rgba(255,255,255,0.5);
    width: 100%;
    border-radius: 30px;
}
.content{
    position: absolute;
    margin: -250px 50px;
}
.deal{
    color:#ff5722;
    padding: 20px 0;
    font-size: 1.2rem;
    text-shadow: 2px 4px 6px ;
    font-weight: 600;
}
.contents{
    font-weight: 600;
    font-size: 2.4rem;
}
.note{
    padding: 20px 0;
    font-size: 1rem;
    color: #ff5722;
    text-shadow: 2px 4px 6px ;

}
.button{
    background-color: #ff5722 !important;
    border-radius: 20px !important;
    text-transform: none !important;
}