
.Banner {
    position: relative;
  
}
.Banner .img{
    position: relative;
    border-radius: 30px;
    width: 100%;
    height: 340px;
    background: url(../../../../assets/img/01.png) no-repeat center right;
    background-size: cover;
    background-position: center;
}
.Banner .img::after{
    display: block;
    position: absolute;
    background-image: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(65%, #fff), to(rgba(83,100,141,0)));
    background-image: linear-gradient(90deg, #fff 0%, #fff 65%, rgba(83,100,141,0) 100%);
    height: 100%;
    left: 0;
    top: 0;
    width: 60%;
    opacity: 0.9;
    border-radius: 1.6rem;
    content: '';
}
.content{
    z-index: 5;
    position: absolute;
    margin: -250px 50px;
}
.phoneNumber{
    position: relative;
    top:-2px;
    right: -5px;
    font-size: 17px;
    font-weight: 600;
    color:var(--primaryColor);
}
/* .content::after{
    display: block;
    position: absolute;
    background-image: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(65%, #fff), to(rgba(83,100,141,0)));
    background-image: linear-gradient(90deg, #fff 0%, #fff 65%, rgba(83,100,141,0) 100%);
    height: 100%;
    left: 0;
    top: 0;
    width: 60%;
    opacity: 0.9;
    border-radius: 1.6rem;
    content: '';
} */
.deal{
    color:#C65A0F;
    padding: 20px 0;
    font-size: 1.2rem;
}
.contents{
    font-weight: 600;
    letter-spacing:.2rem;
    font-size: 2.2rem;
    text-shadow: 2px -2px 2px #fff;
    font-family: "Playfair Display",serif;
    margin-bottom: 12px;
}
.note{
    padding: 20px 0;
    font-size: .8rem;
    color: #C65A0F;

}
.button{
    background-color: var(--primaryColor) !important;
    border-radius: 20px !important;
    text-transform: none !important;
}
.SvgIcon{
    position: relative;
    top: -5px;

    width: 25px !important;
    height: 28px !important;
}

/* button */

/* 11 */
.custom_btn {
    width: 170px;
    height: 50px;
    color: #fff;
    border-radius: 20px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
  
.btn_11 {
    border: none;
    background: var(--primaryColor);
      background: linear-gradient(0deg, var(--primaryColor) 0%, var(--primaryColor) 100%);
      color: #fff;
      overflow: hidden;
  }
  .btn_11:hover {
      text-decoration: none;
      color: #fff;
  }
  .btn_11:before {
      position: absolute;
      content: '';
      display: inline-block;
      top: -180px;
      left: 0;
      width: 30px;
      height: 100%;
      background-color: #fff;
      transition:1s;
      animation: shiny-btn1 2.5s ease-in-out infinite;
  }
  .btn_11:hover{
    opacity: .7;
  }
  .btn_11:active{
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
      inset -4px -4px 6px 0 rgba(255,255,255,.2),
      inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
  }
  
@-webkit-keyframes shiny-btn1 {
    0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
    80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.7; }
    81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
    100% { -webkit-transform: scale(30) rotate(45deg); opacity: 0; }
}
@keyframes  shiny-btn1 {
    0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
    80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.7; }
    81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
    100% { -webkit-transform: scale(30) rotate(45deg); opacity: 0; }
}

  
/* Base Styling */

.phone {
    height:32px;
    line-height:32px;
    font-size:18px;
    font-weight:bold;
    color:#333333;
    margin-bottom: 12px;
  }
  .phone svg {
    width:24px;
    height:24px;
  }
  .phone svg path {
    fill:#f03454;
  }
  .phone svg path:nth-child(2) {
    -webkit-animation: header-phone 1s infinite cubic-bezier(.1, .57, .5, 1);
    animation: header-phone 1s infinite cubic-bezier(.1, .57, .5, 1);
  }
  .phone svg path:nth-child(3) {
    -webkit-animation:header-phone2 1s infinite cubic-bezier(.1, .57, .5, 1);
    animation:header-phone2 1s infinite cubic-bezier(.1, .57, .5, 1);
  }
  
  
  
  
  /* Animate phone */
  
  @-webkit-keyframes header-phone {
    0%,30% {opacity:0; -webkit-transform:translate3d(-20px, 20px, 0); transform:translate3d(-20px, 20px, 0)}
    80% {opacity:1; -webkit-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0)}
    100%{opacity:0}}
  @keyframes header-phone {
    0%,30%{opacity:0; -webkit-transform:translate3d(-20px, 20px, 0); transform:translate3d(-20px, 20px, 0)}
    80%{opacity:1; -webkit-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0)}
    100%{opacity:0}}
  @-webkit-keyframes header-phone2 {
    0%{opacity:0; -webkit-transform:translate3d(-20px, 20px, 0); transform:translate3d(-20px, 20px, 0)}
    70%,90%{opacity:1; -webkit-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0)}
    100%{opacity:0}}
  @keyframes header-phone2 {
    0%{opacity:0; -webkit-transform:translate3d(-20px, 20px, 0); transform:translate3d(-20px, 20px, 0)}
    70%,90%{opacity:1; -webkit-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0)}
    100%{opacity:0}}