.header{
    background-color:var(--primaryColor);
    border-radius: 10px !important;
    font-size: 1.7rem !important;
    color: white !important;
}
table{
    padding: 50px !important;
}
.img{
    margin-top: 20px;
    width:60px;
    height:60px;
    border: 3px solid rgb(225, 225, 225);
    border-radius: 50%;;
}
.tableDetailProducts{
    display: flex;
}
.titleProducts{
    padding:  10px;
}
.title{
    font-weight: 300;
    font-size:1rem;
    color:var(--primaryColor);
}
.name{
    font-size: 1rem;
    font-weight:550;
    color:#0b152f;
    font-family: Arial, Helvetica, sans-serif;
}
.icons{
    margin-left: 65px !important;
}
.icons p{
    font-size: 4px;

}
.table{
    max-width: 840px;
}