.saleFood{
    font-weight: 550;
    position: relative;
    background-color: rgba(255, 255, 255,0.5);
    border: 1px solid #fff;
    text-align: center;
    height: 254px;
    display: flex;
    align-items: flex-start;
    padding-top: 60px;
    border-radius: 20px;
    margin-top: 80px;
    flex-direction: column;
    justify-content:flex-end;
    padding: 24px 20px;
}
.saleFood img{
    width: 220px;
    height: 220px;
    border-radius: 50%;
    position: absolute;
    top: -80px;
    transform: translateX(-50%);
    left:50%;
    z-index: 2;
}
.title{
    font-size:30px;
    width: 100%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    padding: 10px;
    text-align: center !important;
}
.content{
    color: rgb(106, 109, 111);
    width: 100%;
    text-align: center !important;
}
.blur_shadow {
    position: absolute;
    -webkit-filter: blur(20px);
    filter: blur(20px);
    z-index: 1;
  }