.header {
    padding: 12px 0;
    background-color: #fff;
}

.warpInput {
    position: relative;
    margin-left: 24px;

}

.searchIcon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(136, 136, 136);
}

.searchInput {
    padding-left: 46px;
    height: 46px;
    border-radius: 20px;
    border: 1px solid rgb(228, 228, 228);
    width: 280px;
}

.searchInput::placeholder {
    font-weight: 600;
    color: rgb(136, 136, 136);

}
.name{
    font-weight: 500;
    line-height: 1.4rem;
}
.possition{
    font-size: 0.9rem;
}
.searchInput:focus {
    border: 1px solid var(--primaryColor);

}