.main {
  padding: 20px 50px;
  flex: 1;
  background-color: #e5e5e5;
}
.main * {
  text-decoration: none;
}
.name {
  margin: 30px 0;
}

.ProfileP {
  font-size: 14px;
  color: #75767e;
  font-weight: 400;
  padding: 10px;
}

.formRow {
  margin-bottom: 24px;
  justify-content: space-between;
  display: flex;
}

.uploadImg {
  display: flex;
  margin-top: 30px;
  align-items: center;
}

.imgWrapper {
  position: relative;
  width: 120px;
  height: 120px;
  border: 1px solid #ddd !important;
  border-style: dashed;
  background-color: #fff !important;
}

.imgWrapper > label {
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: normal !important;
  position: absolute;
}

.imgWrapper input[type="file"] {
  display: none;
}
.imgWrapper > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form {
  margin-top: 40px;
  --bs-gutter-x: 8rem;
}

.showHideProducts {
  display: flex;
  align-content: center;
  align-items: center;
  color: #fb3c00;
  cursor: pointer;
}

.formcontrol {
  display: block;
  width: 100%;
  height: 40px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  margin-bottom: 20px;
  border-radius: 0.15rem;
}

.from input:focus .from select:focus {
  outline: 1px solid #a370f7;
}

.formlabel {
  color: #333;
  font-weight: 600;
  margin-bottom: 5px;
}

.formselect {
  font-size: 16px;
  color: #75767e;
}

.Status {
  margin-top: 6px;
  font-weight: 600;
}
.formSpan {
  color: #ff0000;
}

.formGroup {
  margin-top: -10px;
}

.ordersHistory {
  height: 70vh;
  background-color: #fff;
  overflow-y: auto;
}

.profile {
  margin: 40px 0px 36px 0px;
}

.profile h2 {
  font-size: 16px;
  background-color: var(--purple);
  color: #fff;
  height: 30.3px;
  padding: 8px 0px 0 20px;
}

.using h3 {
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
}

.active {
  padding-bottom: 5px;
  border-bottom: 1.6px solid #c4c4c4;
}

.using h3 {
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
}

.Remove {
  color: #0f5132;
  /* //background-color: #d1e7dd !important; */
  border-color: #badbcc;
  font-weight: 600;
}

.Remove1 {
  color: #dc3545;
  /* //background-color: #d1e7dd !important; */
  border-color: #badbcc;
  font-weight: 600;
}

.btn {
  padding-top: 4rem;
  flex-direction: row-reverse;
}

.ProfiLRBtn {
  float: right;
  width: 150px;
  border: 1px solid #ff0000;
  color: #ff0000;
  background: #fff;
  height: 48px;
  font-weight: 600;
  border-radius: 5px;
  font-size: 14px;
}

.ProfiLRBtn:hover {
  color: #fff;
  background: #ff0000;
}

.ProfiLRBtn1 {
  border: 1px solid #1a358f;
  color: #1a358f;
  background: #fff;
  height: 48px;
  font-weight: 600;
  border-radius: 5px;
  font-size: 14px;
  width: 50%;
}

.ProfiLRBtn1:hover {
  color: #fff;
  background: #1a358f;
}

.ProfiLRBtn2 {
  border: 1px solid #1a358f;
  color: #fff;
  background: #1a358f;
  height: 48px;
  font-weight: 600;
  border-radius: 5px;
  font-size: 14px;
  width: 50%;
}

.ProfiLRBtn2:hover {
  color: #1a358f;
  background: #fff;
}

.right {
  width: 60%;
  display: flex;
  float: right;
  gap: 20px;
}
