.MenuContentDetail img{
    width: 100%;
    border-radius: 10px;

}

.MenuContentDetail{
    margin:0 10px;
    padding: 10px;
    background-color: #ffff !important;
    border-radius: 10px;
    font-size:12px;
    margin-bottom: 24px;
}
.list{
    margin-top: 10px;
    display:inline-flex;
    width: 100%;
    justify-content: space-between;
    line-height:1.2rem;
}
.content{
    line-height: 1.2rem;
}
