.line{
    border-bottom: 2px solid orange;
    width:30px;
    transition: all 0.4s;
    margin: 0 auto;
}

.categoryItems{
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px 0;
}
.categoryItems:hover .line{
    width: 90%;
    color: white;
}
.categoryItems:hover {
    background-color: rgb(228, 227, 223);
}
.icon{
    border-radius: 50%;
    background: var(--orange);
    height: 25px;
    margin:0 auto;
    color: white;
    width: 25px;
}
.categoryItems:hover .icon{
    background-color: white;
    color: var(--orange);
}