.col{
    text-align: center;
    margin-top: -80px;
}
.col div{
    width: 100%;
}
.form{
    margin-top: 100px;
}
.Box{
    background-color: rgba(255, 255, 255,0.5);
    border-radius: 20px;
    margin:0 auto;
    text-align: center;
    width: 100%;
    padding:0 60px;
    height:80vh;
    box-shadow: 2px 1px 4px 1px rgba(177, 177, 177, 0.9);

}
.Box TextField{
    width: 600px !important;
}
.Box h2{
    font-size: 1.4rem;
    font-weight: bold;
    padding: 30px;
}

.icon{
    margin-top: 50px;
    float: right !important;
}
.link{
    float: left !important;
    padding: 20px 0;
    color:black !important;
    text-decoration: none;
}
.iconUpdate{
    background-color: #ff7272 !important;
}
.iconDelete{
    color:#ffffff !important;
    border: 1px solid #ff7272 !important;
    background-color: #ff7272 !important;
}   
.iconDelete:hover{
    color:#d35c5c;
    border: 1px solid #d35c5c;
    box-shadow: 1px 1px 1px 1px #ff7272;

}
.inputFile{
    padding: 2px 5px;
    background-color: rgba(218, 218, 218, 0.5);

    border-bottom: 1px solid rgb(163, 163, 163);
}
input[type='file']{
    padding: 10px;
}.inputFiles{
    padding: 2px 5px;
    background-color: rgba(218, 218, 218, 0.5);
    border-bottom: 1px solid rgb(163, 163, 163);
}
