$background: #f5f6fa;
$text: #9c9c9c;
$input-bg-color: #fff;
$input-text-color: #a3a3a3;
$button-bg-color: #7f8ff4;
$button-text-color: #fff;

//** root
:root {
  background: $background;
  color: $text;
  font: 1rem "PT Sans", sans-serif;
}


// a {
//   color: inherit;
  
//   &:hover {
//     color: $button-bg-color;
//   }
// }
.container__item{
  margin: 20px;
}

//** helper
.containersssss {
  display: flex;
  margin-top: 50px;
  margin-bottom: 100px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.uppercase {
  text-transform: uppercase;
}

//** button
.btn {
  display: inline-block;
  background: transparent;
  color: inherit;
  font: inherit;
  border: 0;
  outline: 0;
  padding: 0;
  transition: all 200ms ease-in;
  cursor: pointer;
  
  &--primary {
    background: $button-bg-color;
    color: $button-text-color;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
    border-radius: 2px;
    padding: 12px 36px;
    
    &:hover {
      background: darken($button-bg-color, 4%);
    }
    
    &:active {
      background: $button-bg-color;
      box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, .2);
    }
  }
  
  &--inside {
    margin-left: -96px;
  }
}

//** form
.form { 
  &__field {
    width: 560px;
    background: #fff;
    color: $input-text-color;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
    border: 0;
    outline: 0;
    padding: 22px 18px;
  }
}