.container{
    background-color: rgb(255, 255, 255,0.5);
    border-radius: 20px;
    padding:6px;
}
.header{
    padding: 15px 0;
    border-bottom: 1px solid rgb(197, 197, 197);
}
.contentHeader{
    display:inline-flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px 0;
}
.titleH3{
    font-size:1.2rem;
    font-weight:550;
}
.nameProducts{
    font-weight: bold;
    font-size:.8rem;
    margin-bottom: 5px;
}
/* .contentProducts{

} */
.titleP{
    padding: 10px 0;
}
.products{
    display:inline-flex;
    /* justify-content:center; */
    justify-content:space-evenly;
}
.contentMain{
    border-radius: 20px;
    background-color: rgb(252, 252, 252);
    display:inline-flex;
    align-items:center;
    justify-content: space-between;
    width: 100%;
    box-shadow: 2px 1px  10px rgb(224, 223, 223);
    padding: 10px;
    margin-bottom: 20px;
}
.productchoose{
    width: 50%;
}
.wrapchoose{
    border-radius: 20px;
    background-color: rgb(252, 252, 252);
    display:inline-flex;
    align-items:center;
    justify-content: space-between;
    width: 100%;
    box-shadow: 2px 1px  10px rgb(224, 223, 223);
    padding: 10px;
    margin-bottom: 12px;
    
}
.info{
    display:inline-flex;
    width: 60%;
}
.info_choose{
    display:inline-flex;
    width: 92%;
}
.img{
    background-color: #4EE1C1;
    padding: 4px;
    border-radius: 10px;
}
.img img{
    border-radius:10px;
    width: 72px;
    height: 52px;
    object-fit: cover;
}
.img_choose{
    padding: 2px;
    border-radius: 10px;
}
.img_choose img{
    border-radius:10px;
    width: 100px;
    height: 82px;
    object-fit: cover;
}
.name{
    font-size: 12px;
    margin-left: 4px;
}
.detail{
    margin:18px 30px !important;
    justify-content: space-around;
    display:contents;

}
.price{
}

.deleteIcon:hover{
    color:red;
    transition: all 0.1s;
    cursor: pointer;
}

.wrapchoose:hover .icon {
    background-color: white;
    color: var(--primaryColor);
    border: 0.5px solid var(--primaryColor);
    transform: scale(1.4);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5) 1px 1px 10px;
  }
  
  .wrapPrice {
    width: 100%;
    margin-top: 12px;
  }
  
  .icon {
    margin-top: -3px;
    margin-left: 20px;
    width: 25px;
    height: 25px;
    background-color: var(--primaryColor);
    border-radius: 50%;
    color: #fff;
    text-align: center;
    cursor: pointer;
  }
  /* search */
  .warpInput {
    position: relative;
    margin-left: 24px;

}
.searchInput {
    padding-left: 46px;
    height: 46px;
    border-radius: 20px;
    border: 1px solid rgb(228, 228, 228);
    width: 280px;
}

.searchInput::placeholder {
    font-weight: 600;
    color: rgb(136, 136, 136);

}

.searchIcon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(136, 136, 136);
}
.search{
    padding-bottom: 12px;
}
.wrapCategory{
    margin: 0 24px;
    overflow-y:auto;
    padding: 0 2px;
}
.wrapbutton{
    margin: 0 12px;
    display: inline-block;
}
.wrapbutton:first-child{
    margin: 0 ;
    display: inline-block;
}