.member{
    /* background-color: #fff; */
    border-radius: 20px;
    padding:20px ;
    background-color:#fff;
    line-height: 1.6rem;
    font-size: .8rem;
    position: relative;
}
.member:hover{
    cursor: pointer !important;

}

.wrapAvatar{
    display: flex;
    justify-content:center;
    margin: 0 auto;
}
.info{
    border-bottom: 1px solid rgb(217, 217, 217);
}
.info button{
    color: var(--primaryColor);
    margin: 10px;
    border-radius: 40px;
    border: 1px solid var(--primaryColor);
}
.info button:hover{
    color: #0b0b0b;

    border: 1px solid #0b0b0b;
}
.contacts{
    padding: 3px;
    font-size: 0.9rem;
}
.content{
    color:#6d6c6c;
}
.nameCustomer_info{
    font-size: 14px;

}
.customInfo{
    font-size: 21px;
}
.wrapModalToggle{
    z-index: 22;
}
.wrapForm{
    margin: 12px 0;
}
.wrapCelandar{
    margin: 12px 0 24px 0;
}
.btnSubmit{
    background-color: var(--primaryColor);
    width: 140px;
    height: 38px;
    border-radius: 4px;
    color:#fff;
}
.wrapForm input{
    height: 50px;
}
.formTitle{
    margin-bottom: 12px;
}
