 
.navbarLeft {
  float: left;
}

.navbarRight {
  float: right;
}

.navbar {
  font-size: 16px;
  display: flex;
  align-items: center;
  
}

.navbar .navbarRight li {
  display: inline;
  padding-left: 20px;

}

.navbar .navbarRight li a {
  color: rgb(22, 22, 22);
  text-decoration: none;
}

.navbar .navbarRight li a:hover {
  color: black;
  cursor: pointer;
}

/* nav:hover + .content{

        display:block;
}
.content{
    display:none;
} */
.container {}

.badges {
  position: relative;
  top: -6px;
  left: -10px;
  background-color: #FF8888;
  border-radius: 50%;
  color: white;
  display: inline-block;
  font-size: 8px;
  line-height: 1;
  padding: 4px 6px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  border: 0.5px solid #ffff;
}

.badge {
  background-color: #a3a3a3;
  border-radius: 10px;
  color: white;
  display: inline-block;
  position: relative;
  left: -5px;
  top: -5px;
  font-size: 8px;
  line-height: 1;
  padding: 3px 7px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

.shoppingCart {
  /* float: right; */
  font-size: .8rem !important;
  background-color: rgb(251, 234, 234);
  width: 370px;
  position: absolute;
  border-radius: 10px;
  right: -20px;
  top: 50px;
}

.content {
  transition: all 0.5s ease-in;
  opacity: 0;
  display: none;
}

.navbarRight:hover .content {
  display: block;
  opacity: 1;

}

.navbarRight {
  position: relative;
}

.shoppingCartHeader {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 20px;
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 15px;
  background-color:  var(--purple);

}

.shoppingCartTotal {
  float: right;
}

.shoppingCartItems img {
  float: left;
  margin-right: 12px;
}

.shoppingCartItems li {
  margin-bottom: 10px;

}
.shoppingCartItems {
  overflow-y: auto;
  padding: 10px;
  background-color: rgba(255, 255, 255, 1);
  max-height:350px;
  overflow-y: auto;
  min-height: 100px;
}
.cartEmpty{
  line-height:1.5rem;
  font-size: 1.11rem;

}
.cartRequire{
  line-height:1.5rem;
  font-size: 1rem;
  margin-top: 24px;
  color:#000;
  display: inline-block;
  text-decoration: underline !important;
}
.itemName {
  font-size: .8rem !important;

  display: block;
  padding-top: 10px;
}

.itemPrice {
  color:  var(--purple);
  margin-right: 8px;
}

.itemQuantity {
  color: #777777;
}
.lighterText{
  padding-right: 6px;
}
.mainColorText,.lighterText{
  color:#fff;
  font-size: 1rem;
}
.footerButton {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px;
  background-color:  var(--purple);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.CloseIcon {
  padding: 5px;
  border-radius: 50%;
  width: 10px;
  height: 20px;
  top: -20px;
  margin-left: 90px;
}

.CloseIcon:hover {
  background-color: #FF8888;

}

.shoppingCart:before {
  width: 100%;
  content: "";
  position: absolute;
  display: block;
  background-color: rgba(255, 255, 255, 0.5);
  height: 29px;
  top: -29px;
  left: 0;
}

.shoppingCart:after {
  bottom: 100%;
  left: 89%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: white;
  border-width: 8px;
  margin-left: -8px;
}

.cartIcon {
  color: #515783;
  font-size: 24px;
  margin-right: 7px;
  float: left;
}

.button {
  background-color: var(--purple);
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  display: block;
  border-radius: 20px;
  font-size: 16px;
  /* margin: 25px 0 15px 0; */
  border: 1px solid white;


}

.button:hover {
  background: lighten(#333, 3%);
  color: #333
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}