.toast_icon {
    font-size: 2rem !important;
    border:2px solid #fff;
    border-radius:50%;
}

.toast {
    position: relative;
    max-width: 60px;
    height: 60px;
    border-radius: 6px;
    /*margin-left: -125px;*/
    margin: auto;
    background-color: rgba(127, 173, 57,0.9);
    color: #fff;
    text-align: center;
    border-radius: 2px;
    box-shadow: 0px 0px 20px rgba(52, 52, 52, 0.5);
    position: fixed;
    z-index: 6;
    top: 100px;
    right: 20px;
    font-size: 18px;
    line-height:28px;
    white-space: nowrap;
}

.toast .toast_img {
    position: absolute;
    left: 0;
    width: 60px;
    height: 60px;
    float: left;
    padding-top: 12px;
    border-radius: 6px;
    padding-bottom: 16px;
    box-sizing: border-box;
    background-color:  rgba(127, 173, 57,0.95);
    color: #fff;
}

.toast .desc {
    color: #fff;
    padding: 16px;
    overflow: hidden;
    white-space: nowrap;
}

.toast {
    visibility: visible;
    -webkit-animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 2s;
    animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 4s;
}

.toast_close {
    top: 10px;
    right: 10px;
    line-height: 2.1rem;
    position: absolute;
    transition: 2s;
    animation: 5s stop infinite;
}
@keyframes startIn {
    
}
@keyframes stop {
    0% {
        opacity: 1;
    }

    70% {
        opacity: 0.7;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes expand {
    from {
        min-width: 50px
    }

    to {
        min-width: 350px
    }
}

@keyframes expand {
    from {
        min-width: 50px
    }

    to {
        min-width: 350px
    }
}

@-webkit-keyframes stay {
    from {
        min-width: 350px
    }

    to {
        min-width: 350px
    }
}

@keyframes stay {
    from {
        min-width: 350px
    }

    to {
        min-width: 350px
    }
}

@-webkit-keyframes shrink {
    from {
        min-width: 350px;
    }

    to {
        min-width: 50px;
    }
}

@keyframes shrink {
    from {
        min-width: 350px;
    }

    to {
        min-width: 50px;
    }
}

@keyframes out {
    from {
        right: 10px;
    }

    to {
        right: -120px;

    }
}