.trending img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    transform: translateX(-50%);
    left: 75%;
}
@keyframes rotation {
    from {
      transform:  translateX(-50%) rotate(0deg);
    }
    to {
    transform: translateX(-50%)  rotate(360deg) ;
    }
  }
  .trending:hover img{
    animation: rotation 10s infinite alternate;
  }
.trending{
    position: relative;
    margin-top: 20px;
}
.trendingContent{
    background-color: rgba(255, 255, 255,0.5);
    height:220px;
    width: 300px;
    border: 1px solid#fff;
    padding: 20px;
    color: black;
    border-radius: 20px;
}
.trendingContent:hover {
    color: #333;
    background-color:white;
}
.icon {
    margin-top: -3px;
    margin-left: 20px;
    width: 25px;
    height: 25px;
    background-color: var(--primaryColor);
    border-radius: 50%;
    color: #fff;
    text-align: center;
}
.iconView{
    border-radius: 50%;
    background: var(--primaryColor);
    height: 25px;
    display: inline-block;
    
    color: white;
    width: 25px;
}

.top{
    font-size:20px;
    font-weight:550;
}
.title{
    padding:20px 0;
}
.line{
    margin: 10px 0;
    border-bottom: 1.5px solid rgb(138, 136, 136);
    width: 50px;
}
.persons{
    padding: 10px 0;
    color: rgb(112, 112, 112);
}
.price{
    display: flex;
    padding: 10px 0;
}