.content {
    background-image: url(../../../assets/img/01.png);
    background-repeat: no-repeat;
    /* background: url('https://templates.iqonic.design/aprycot/html/dashboard/dist/assets/images/User-profile/01.png') no-repeat center; */
    margin: 20px 50px;
    z-index: -10;
    border-radius: 20px;

}
.forms{
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
}
.img {
    height: 270px;
}

.row {
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(8px); 
    height: 100vh;
    width: 100%;
    border-radius: 20px;
    height: 30%;
    margin: 0 !important;
    padding: 10px 0;
    
}

.rowcol6 {
    float: left;
    display: flex;
}

.imguser {
    margin-top: -70px;
    margin-left: 20px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

.rowcol4 {
    padding: 10px 0;
    margin-top: 10px;
}

.h4 {
    padding: 5px 0;
}

.col6 {
    float: right;
}

.col6 button {
    background-color: #ff7272;
    height: 50px;
    margin: 30px 0px;
    font-size: .6rem;
    text-decoration: none;
}

.col6 button:hover {
    background-color: #ff6464;

}

.rowss {
    margin-left: 80px;
    display: inline-flex;
}
.link{
    text-decoration: none;
}
.AppBar{
    width: 350px !important;
    border-radius: 10px;
    position: absolute;
    top: 0px;
    right: 0px;
    float: right;
    background-color: #565CBA !important;
    
}
.bgr{
    background-color: rgba(255, 255, 255,0.5);
    border: 2px solid #fff;
    border-radius: 20px;
    margin: 0 50px;

}
.Box{
    background-color:none !important;
    margin:0 auto;
    width: 100%;
    padding: 20px 40px;
}