.ManagePosts {
    padding: 0 39px 0px 50px;
    background-color: #e5e5e5;
    min-height: 100vh;
    transition: 0.3s;
    width: 100%;
    flex: 1;
}

.modelbody {
    color: #dc3545;
}


.ManageMain {
    margin: 0px 0 16px 0;
}

p.title {
    color: #1a358f;
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 30px;
}

.title svg {
    transform: translateY(2px);
    font-size: 25px;
    margin-right: 16px;
}

.search {
    width: 744px;
    height: 40px;
    display: flex;
}
.search input {
    flex: 1;
    border: none;
    outline: none;
    padding: 9px 16px;
}
.searchIcon {
    height: 40px;
    width: 40px;
    background-color: #e9ebf4;
    justify-content: center;
    display: flex;
    align-items: center;
}

.rightSide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rightSideBtn,
.rightSideOption {
    display: flex;
}
.rightSideBtn {
    justify-content: flex-end;
    gap: 20px;
}

.rightSideBtn button {
    border: none;
    border-radius: 4px;
}

.ManagePro {
    padding: 22px 16px 0 0px;
}

.HeaderCell {
    background-color: #e9ebf4;
    font-weight: 600;
    color: #1a358f;
}

.pagination {
    display: flex;
    justify-content: flex-end;
    padding-top: 12px;
}

.pagination span {
    line-height: 32px;
}

.pagination-container .pagination-item.selected {
    border-radius: 4px !important;
    /* color: #1a358f; */
    background: #1a358f;
    color: #fff;
}

.btnEdit {
    gap: 10px;
    color: #198754;
    border-color: #198754;
    display: inline-block;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid #198754;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
}

.btnEdit:hover {
    background-color: #198754;
    color: #fff;
}

.btnDelete {
    color: #dc3545;
    border-color: #dc3545;
    display: inline-block;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid #dc3545;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    background: #fff;
}

.btnDelete:hover {
    background-color: #dc3545;
    color: #fff;
}


 .pagination-item.selected {
    border-radius: 4px !important;
}

.Celll {
    width: 150px;
    text-align: center;
    gap: 15px;
    display: flex;
}
