.line{
    border-bottom: 2px solid var( --primaryColor);
    width:30px;
    transition: all 0.4s;
    margin: 0 auto;
}

.categoryItems{
    background-color: rgba(255, 255, 255,0.5);
    text-align: center;
    padding: 12px 0;
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255,1);
}
.categoryItems:hover .line{
    width: 90%;
    color: white;
}
.categoryItems:hover {
    background-color: rgba(255, 255, 255,0.9);
}
.titleName{
    margin-top: 24px;
}
.categoryItems img{
    width: 50%;
}
.icon{
    position: relative;
    top:-2px;
    border-radius: 50%;
    background: var(--primaryColor);
    height: 25px;
    margin:0 auto;
    color: white;
    width: 25px;
    display: inline-block;
}
.categoryItems:hover .icon{
    background-color: white;
    color: var(--primaryColor);
    border:0.5px solid #ccc;
}
